body {
  margin: 40px;
  background-color: #fff;
}

.board {
  width: 427px;
  border: 5px solid blue;
}

/* .cell:nth-child(even) {
  background-color: #ccc;
  color: #000;
} */

.wrapper {
  background-color: #ccc;
  /* border: 1px solid black; */
  width: 410px;
  padding: 2%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: 50px 50px 50px 50px 50px 50px ;
  grid-auto-flow: column;
}