body {
  margin: 40px;
  background-color: #fff;
}

.board-inactive {
  cursor: not-allowed;
}

.board {
  width: 427px;
  border: 5px solid blue;
}

.column {
  float: left;
  width: 45px;
}

.wrapper {
  background-color: #ccc;
  border: 1px solid black;
  width: 315px;
  height: 254px;

}