body {
  margin: 40px;
}

.cell {
  background-color: rgb(12, 12, 12);
  color: #fff;
  border-radius: 50px;
  padding: 20px;
  font-size: 150%;
}

/* .cell:nth-child(even) {
  background-color: #ccc;
  color: #000;
} */

.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: 50px 50px 50px 50px 50px 50px ;
  grid-auto-flow: column;
}